/* Header section */
#container {
	position: relative;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
    text-align: center;
}

/* Body  */

body {
    background-color: #eecfc4;
    height: auto;
}

.Forgot-box {
    width: 360px;
    height: auto;
    margin: auto;
    padding-bottom: 15px;
    border-radius: 10px;
    background-color: white;
    
}

h1 {
    text-align: center;
    padding-top: 15px;
  
}
#lb_fg {
    font-size: small;
}
form{
    width: 300px;
    margin-left: 20px;
}

form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}

form input{
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;

}
input[type="button"]{
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: #49c1a2;
    color: white;
    font-size: 18px;

}

p{
    text-align: center;
   
}

/* OTP View */
.otp-box {
    width: 360px;
    height: auto;
    margin: auto;
    padding-bottom: 15px;
    border-radius: 10px;
    background-color: white;
    padding-left: 20px;
}

#lb-otptext {
    font-size: small;
    text-align: center;
}

.userInput{
	display: flex;
	justify-content: center;
    padding-top: 10px;
}

input{
	margin: 10px;
	height: 35px;
	width: 55px;
	border: none;
	border-radius: 5px;
	text-align: center;
	font-family: arimo;
	font-size: 1.2rem;
	background: #eef2f3;

}

/* change password */
.changepassword-box {
    width: 360px;
    height: auto;
    margin: auto;
    padding-bottom: 15px;
    border-radius: 10px;
    background-color: white;
    
}

#lb-password {
    font-size: small;
}

/*  Footer */
footer{
    position: absolute;
    left: 0;
    bottom: 0;
    background: #111; 
    width: 100%;
     
}
#ft{
    font-family: "Open Sans";
 
    color: rgb(237, 203, 203);
    padding: auto;
    text-align: center;
}
